* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {

}

div.headwrapper {
    margin-top: 20px;
}

div.logowrapper {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.title{
    display: inline-block;
    vertical-align: middle;
}

img.appimage {
    width: 200px;
    transition: all .3s ease-in-out;
}

div.tagwrapper {
    margin-top: 30px;
    margin-bottom: 80px;
}

h1.tagline {
    margin-top: 10px;
}

span.caption {
    margin-top: 10px;
    display: inline-block;
    max-width: 80%;
    word-wrap: normal;
    margin-bottom: 20px;
}

a.playstore, a.appstore {
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    img.appimage {
        display: inline-block;
        vertical-align: middle;
        width: 260px;
        transition: all .3s ease-in-out;
    }

    div.tagwrapper {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    div.taglines {
        display: inline-block;
        margin-top: 60px;
        margin-left: 20px;
        vertical-align: bottom;
    }

    h1.tagline, h1.sub-tagline, span.caption {
        text-align: left;
    }

    span.caption {
        display: block;
        max-width: 440px;
    }

    div.dlwrapper {
        display: block;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 40px;
    }
}